[Unit]
Description=VayuNetra API
After=network.target

[Service]
User=ubuntu
WorkingDirectory=/home/ubuntu/VayuNetra/backend
EnvironmentFile=/home/ubuntu/VayuNetra/backend/.env
ExecStart=/home/ubuntu/VayuNetra/backend/venv/bin/uvicorn app.main:app --host 0.0.0.0 --port 8000
Restart=always

[Install]
WantedBy=multi-user.target
